<div class="promo-wrap w-1000">
	<div class="item-wrap">
		<div class="left w-40"><img src="/images/clock.png" /></div>
		<div class="right w-60">
			<h2 style="margin-top: 0;">Time, time never changes...</h2>
			<br />
			<p>Every activity meets planning. From small domestic tasks to large scale software developement.</p>
			<p>Unfortunatlely week planning or lack of proper tools leads to many issues:</p>
			<ul>
				<li>Mistakes</li>
				<li>Inability to correct planning doring execution changes</li>
				<li>Waste of resourses</li>
				<li>Unclear roadmap</li>
				<li>etc. etc. etc.</li>
			</ul>
			<p>Cause of everything is time loss due to improper planning. Luckily there are lots of great tools developed to solve this problem</p>
		</div>
		
		
	</div>
	<div class="item-wrap clear" style="padding-top: 40px;">
		<div class="right w-40"><img src="/images/gantt.png" /></div>
		<div class="left w-60">
			<h2 style="margin-top: 0;">Charts and maps</h2>
			<br />
			<p>Being heavilly adopted on every level of planning, they still fail to bring both siplicity and effectiveness at the same time. Most of the project management and planning management tolls require great amount of time spend on maintaining.</p>
			<br />
			<p><b>Gantt chart</b> at one hand provide ability to manage complex relation and plan lots of aspect, buy they are totally useless for non-experienced users and teams.<p>
			<br />
			<p>Another great tool - <b>Mind map</b> provides ability to eassily crate roadmaps, milestones and time. At the same time it lacks time control, that other tolls have.</p>	
			<br />
			<p>Therefore we desided to create <b>Planto</b></p>
		</div>
		
	</div>

	<div class="item-wrap clear" style="padding-top: 60px;">
		<center><img src="/images/logo-grn.png" /></center>
		<ul class="promo-list" style="list-style: none; margin-top: 20px; font-size: 20px; text-align: center;">
			<li>Solution of a better <b>Better Gantt chart</b> with an effectiveness and simplicity of the <b>Mind map</b></li>
			<li><b>Vertical</b> workflow design</li>
			<li><b>Milestones</b>, linked to the <b>timeline</b>, <b>to control</b> due dates and flow</li>
			<li><b>Easy</b> links suport and <b>management</b></li>
			<li><b>Shows</b> plan executions <b>status</b> with a first look</b>
			<li>Simply <b>works</b></li>	
		</ul>
	</div>	
	<div class="hochu-v-prodakshn clear"></div>
</div>

<div class="subscribe-wrap w-1000">
	<div class="login-form">
		<form action="/subscribe" class="fn-subscribe-form" method="post" style="margin: 0">
			<div class="messages"></div>
			<div class="content">
				<div class="control-group" style="text-align: center;">
					<label for="subscriber-email" style="font-size: 20px; text-align: center; margin-bottom: 20px;">Project is at early alfa stage. Subscribe, if interested in future updates, events and demos</label>
					<input type="text" name="email" style="width: 200px; height: 9px; margin-right: 5px;" placeholder="Email" id="subscriber-email" class="send" data-valid="email required">
					<input type="submit" value="Subscribe" class="btn" style="vertical-align: top;">
				</div>
			</div>
			
				
			
		</form>
	</div>
</div>