<div class="promo-wrap w-1000">
	<div class="item-wrap">
		<div class="left w-40"><img src="/images/clock.png" /></div>
		<div class="right w-60">
			<h2 style="margin-top: 0;">Planning sucks!</h2>
			<br /><br />
			<p style="font-size: 17px; width: 580px;">A good organization is a <b>key factor for success</b> and planning is the most important part of any activity.</p><br />
			<p style="font-size: 17px; width: 580px;">Traditional planning tools are often difficult to read or lack the ability to <b>manage complex tasks.</b></p><br />
			<p style="font-size: 17px; width: 580px;">Gantt Charts are often difficult to follow: <b>aligning elements with the timeline</b>, resources and the workload sometimes takes most of the working time.</p>
		</div>
		
		
	</div>
	<div class="item-wrap clear" style="padding-top: 40px;">
		<div class="right w-40"><img src="/images/gantt.png" /></div>
		<div class="left w-60"><br />
			<h2 style="margin-top: 0;">A whole new approach</h2>
			<br />
			<br />
			<p style="font-size: 17px; width: 580px;">We built a <b>new tool</b> that combines the abilities to manage complex tasks of traditional <b>Gantt charts</b> with the immediate visual response of<b> Mind Maps.</b></p>
			<br />
			<br />
			<p style="font-size: 17px; width: 580px;">Planto is a <b>Gantt Map</b>, a powerful hybrid that scrolls vertically and </b>kills all the clustering<b> of traditional planning.<p>
		</div>
		
	</div>

	<div class="item-wrap clear" style="padding-top: 60px;">
		<center><img src="/images/logo-grn.png" /></center>
		<ul class="promo-list" style="list-style: none; margin-top: 20px; font-size: 20px; text-align: center;">
			<li>Effectiveness of <b>Gantt chart</b> and simplicity of <b>Mind map</b> at the same time.</li>
			
			<li><b>Milestones</b>, linked to the <b>timeline</b> - no more missed deadlines</li>
			<li><b>Easy</b> links suport and <b>management</b></li>
			<li><b>Visible</b> plan executions <b>status</b></li>
			<li>Smooth Vertical <b>scrolling</b></li>
			<li>Simply <b>works...for you!</b></li>
		</ul>
	</div>	
	<div class="hochu-v-prodakshn clear"></div>
</div>

<div class="subscribe-wrap w-1000">
	<div class="login-form">
		<form action="/subscribe" class="fn-subscribe-form" method="post" style="margin: 0">
			<div class="messages"></div>
			<div class="content">
				<div class="control-group" style="text-align: center;">
					<label for="subscriber-email" style="font-size: 20px; text-align: center; margin-bottom: 20px;">Project is at early alfa stage. Subscribe if you are interested in future updates, events and demos</label>
					<input type="text" name="email" style="width: 200px; height: 9px; margin-right: 5px;" placeholder="Email" id="subscriber-email" class="send" data-valid="email required">
					<input type="submit" value="Subscribe" class="btn" style="vertical-align: top;">
				</div>
			</div>
			
				
			
		</form>
	</div>
</div>