<form class="navbar-form pull-right fn-login-form">
	<span class="control-group">
		<input class="span2 send" name="email" type="text" placeholder="Email" data-valid="email required">
	</span>
	<span class="control-group">
		<input class="span2 send" name="password" type="password" placeholder="Password" data-valid="required">
	</span>
	<button type="submit" class="btn">Sign in</button>
	<span style="color: #fff;padding: 10px;display: block;text-align: right;">or</span>
	<a href="/register" class="btn right">Sign up for WIP demo!</a>
</form>
