<form class="navbar-form pull-right fn-login-form user-side">
	<span class="control-group">
		<input class="span2 send" name="email" type="text" placeholder="Email" data-valid="email required">
	</span>
	<span class="control-group">
		<input class="span2 send" name="password" type="password" placeholder="Password" data-valid="required">
	</span>

	<button type="submit" class="btn">Sign in</button>
	<span style="color: #fff; display: inline-block; vertical-align: middle; padding: 0 10px;">or</span>
	<a href="/register" class="btn">Sign up for WIP demo!</a>

</form>
