@imagesPath: "/images";

body {
	background: url("@{imagesPath}/squairy_light.png");
}

.site-body {
	margin: 150px 40px 0;
}

.header-container {
	margin: 0 auto;
	width: 1000px;
}


.navbar {

	.brand {
		padding-top: 10px;
	}

	.navbar-inner {
		background: #52bb6f;
		height: 80px;
	}

	.navbar-form {

		padding-top: 19px;

		input {
			height: 7px;
    		width: 120px
		}

		.control-group {
		  padding-right: 10px;   
		}
	}
}

.promo-wrap {
	margin: 0 auto;
	background: #eceff1;
	color: #34495e;

	.item-wrap {
		padding: 10px;
	}

	.i-am-span {
		display: inline;
	}

	.promo-list li {
		margin-top: 10px;
	}
}

.subscribe-wrap {
	margin: 20px auto;
}

.footer-banner {
	min-height: 200px;
}

.user-side {
	&.navbar-text a, &, & a {
		color: #fff;	
	}

	padding: 10px;display: block;text-align: right;
}

.navbar-text.pull-right, .fn-logout {
	color: #fff !important;	
}

.site-body {
	margin-top: 95px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.w-30 {
	width: 30%;
}

.w-70 {
	width: 70%;
}

.w-40 {
	width: 40%
}

.w-60 {
	width: 60%;
}

.w-1000 {
	width: 1000px;
}