<div class="plans-form">
	<div class="login-form plans-item">
		
		<form action="/api/plan" class="fn-add-plan" method="POST">
			<div class="messages"></div>
			<div class="content">
				<div class="control-group">
					<label for="plan-name">Name:</label>
					<input type="text" name="name" id="plan-name" class="send" data-valid="required">
				</div>
			</div>
			<input type="submit" value="Add plan" class="btn">
		</form>
		<div class="clear"></div>
	</div>

	<ul class="fn-plans"></ul>
</div>